<!-- app/views/chats/show.html.erb -->
<div class="container my-5">
  <%= link_to "← #{@chat.job.job_title}", job_path(@chat.job) %>

  <h1 id="chat_title"><%= @chat.title %></h1>

  <div id="messages">
    <%= render "messages/messages", messages: @chat.messages %>
  </div>

  <div id="new_message_container">
    <%= render "messages/form", job: @job, chat: @chat, message: @message %>
  </div>
</div>
